__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*eggs/
dist/
*.manifest

.env/
.vscode/
.venv/
env/
venv/
ENV/

*.log
*.pot
*.pyc
*.tmp
*.coverage
*.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

.DS_Store
*.swp
*.swo

test-results/
reports/